<div class="app-content">
  <md-toolbar color="primary">
    <span>Folders</span>
  </md-toolbar>
  <md-card>
    <md-card-subtitle>Add new folder</md-card-subtitle>
    <md-input #folderName placeholder="name"></md-input>
    <button md-icon-button [disabled]="!folderName.value" (click)="new(folderName.value); folderName.value = ''">
      <md-icon>add</md-icon>
    </button>
  </md-card>
  <md-card>
    <md-card-subtitle>Folders</md-card-subtitle>
    <md-nav-list>
      <md-list-item *ngFor="let folder of folders | async" [routerLink]="['/folders', folder.$key]">
        <md-icon>folder</md-icon>
        <span class="icon-padding">{{folder.name}}</span>
      </md-list-item>
    </md-nav-list>
  </md-card>
</div>
