<div class="app-content">
  <md-toolbar color="primary">
    <button md-icon-button [routerLink]="['/folders']"><md-icon>arrow_back</md-icon></button>
    <span class="fill-remaining-space"></span>
    <span class="display-name">{{displayName}}</span>
    <button (click)="logout()" md-raised-button color="primary">Logout</button>
  </md-toolbar>
  <div>
    <md-card>
      <md-card-title>New receipt</md-card-title>
      <md-card-content>
        <div>
          <md-input #receiptDesc placeholder="description"></md-input>
        </div>
        <div>
          <md-input #receiptAmount placeholder="amount">
            <span md-suffix>€&nbsp;</span>
          </md-input>
        </div>
        <input id="upload" type="file" #fileInput (change)="fileAdded = true"/>
        <label md-button for="upload">Choose Image</label>
        <md-icon *ngIf="fileAdded">done</md-icon>
      </md-card-content>
      <md-card-actions>
        <button md-raised-button (click)="add(receiptDesc.value, receiptAmount.value, fileInput.files[0])">
          <md-spinner class="spinner" *ngIf="uploading"></md-spinner>
          Add Receipt
        </button>
      </md-card-actions>
    </md-card>
    <md-card>
      <md-card-title>Receipts</md-card-title>
      <md-card-content>
        <md-list>
          <md-list-item *ngFor="let receipt of receipts | async">
            <button md-icon-button md-list-avatar (click)="goToUrl(receipt.url)">
              <md-icon>file_download</md-icon>
            </button>
            <h3 md-line>{{receipt.description}}</h3>
            <p md-line>{{receipt.amount}} €&nbsp;</p>
            <p md-line class="receipt-footer">{{receipt.user}} {{receipt.date | date: 'dd.MM.yyyy'}}</p>
          </md-list-item>
        </md-list>
      </md-card-content>
    </md-card>
  </div>
</div>
