<div class="receipts-content">
  <md-toolbar color="primary">
    <span>Receipt Store</span>
    <span class="fill-remaining-space"></span>
    <span class="display-name">{{displayName}}</span>
    <button (click)="logout()" md-raised-button color="primary">Logout</button>
  </md-toolbar>
  <div class="app-content">
    <md-card>
      <md-card-title>New receipt</md-card-title>
      <md-card-content>
        <div>
          <md-input #receiptName placeholder="name"></md-input>
        </div>
        <div>
          <md-input #receiptAmount placeholder="amount">
            <span md-suffix>€&nbsp;</span>
          </md-input>
        </div>
        <input id="upload" type="file" #fileInput/>
        <label md-button for="upload">Choose Image</label>
        <span *ngIf="fileInput.value">OK!</span>
      </md-card-content>
      <md-card-actions>
        <button md-raised-button (click)="add(receiptName.value, receiptAmount.value, fileInput.files[0])">
          Add Receipt
        </button>
        <md-spinner *ngIf="uploading"></md-spinner>
      </md-card-actions>
    </md-card>
    <md-card>
      <md-card-title>Receipts:</md-card-title>
      <md-card-content>
        <md-list>
          <md-list-item *ngFor="let receipt of receipts | async">
            <button md-icon-button md-list-avatar (click)="goToUrl(receipt.url)">
              <md-icon>file_download</md-icon>
            </button>
            <h3 md-line>{{receipt.name}}</h3>
            <p md-line>{{receipt.amount}} €&nbsp;</p>
            <p md-line class="item-footer">{{receipt.user}} 1.12.2016</p>
          </md-list-item>
        </md-list>
      </md-card-content>
    </md-card>
  </div>
</div>
