.fill-remaining-space {
  flex: 1 1 auto;
}

.receipts-content {
  padding: 20px;
}

.receipts-content md-card {
  margin: 20px;
}

.display-name {
  padding-right: 10px;
  font-size: 14px
}

.item-footer {
  color: gray;
  font-size: 12px;
  padding-top: 5px
}

.spinner {
  width: 30px;
  height: 30px;
  display: inline-block
}

input[type="file"] {
  display: none;
}
